<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>350058824351-578l1hd5bfkf9fn0iqlmillrosq5b43t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350058824351-578l1hd5bfkf9fn0iqlmillrosq5b43t</string>
	<key>API_KEY</key>
	<string>AIzaSyDQDq274RG9BR6_ReSlFL3R9-X_fT8dkqc</string>
	<key>GCM_SENDER_ID</key>
	<string>350058824351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TravelPlanner2</string>
	<key>PROJECT_ID</key>
	<string>travel-planner-790f3</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-planner-790f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350058824351:ios:548c3eac3c1df8a6</string>
	<key>DATABASE_URL</key>
	<string>https://travel-planner-790f3.firebaseio.com</string>
</dict>
</plist>